.game-container {
    background: white;
    margin: 0 auto;
}
.game-cell {
    width: 100px;
    height: 100px;
    border: 20px solid #bbada0;
    font-size: 40px;
    // box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}