.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  .reset-btn {
    margin: 8px;
  }
  .nav-btn-set > * {
    margin: 8px;
  }
}
.App-header {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 40px;
}

.App-link {
  color: #61dafb;
}
